<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.portfolio.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.portfolio.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserDetails</servlet-name>
        <servlet-class>com.portfolio.servlets.UpdateUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchUserDetails</servlet-name>
        <servlet-class>com.portfolio.servlets.FetchUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userDetailsDao</servlet-name>
        <servlet-class>com.portfolio.dao.userDetailsDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.portfolio.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchUserDetails</servlet-name>
        <servlet-class>com.portfolio.servlets.fetchUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myProjectsServlet</servlet-name>
        <servlet-class>com.portfolio.servlets.myProjectsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myYoutubeVideosServlet</servlet-name>
        <servlet-class>com.portfolio.servlets.myYoutubeVideosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactFormServlet</servlet-name>
        <servlet-class>com.portfolio.servlets.ContactFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myResumeSevlet</servlet-name>
        <servlet-class>com.portfolio.servlets.myResumeSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resumePicServlet</servlet-name>
        <servlet-class>com.portfolio.servlets.resumePicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GmailServlet</servlet-name>
        <servlet-class>com.portfolio.servlets.GmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserDetails</servlet-name>
        <url-pattern>/UpdateUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchUserDetails</servlet-name>
        <url-pattern>/FetchUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userDetailsDao</servlet-name>
        <url-pattern>/userDetailsDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchUserDetails</servlet-name>
        <url-pattern>/fetchUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myProjectsServlet</servlet-name>
        <url-pattern>/myProjectsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myYoutubeVideosServlet</servlet-name>
        <url-pattern>/myYoutubeVideosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactFormServlet</servlet-name>
        <url-pattern>/ContactFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myResumeSevlet</servlet-name>
        <url-pattern>/myResumeSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resumePicServlet</servlet-name>
        <url-pattern>/resumePicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GmailServlet</servlet-name>
        <url-pattern>/GmailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
